.chat-window {
    margin-left: 263px; /* To avoid overlapping with the fixed sidebar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .chat-bar {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: white;
    position: sticky;
    bottom: 0;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .upload-button, .send-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  .messages {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 100%;
    gap: 30px;
  }
  .message{
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px 5px;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    word-wrap: break-word; /* Break long words and wrap them to the next line */
    overflow-wrap: break-word; /* Break long words and wrap them to the next line */
  }
  .user-message{
    align-self: flex-end;
    justify-content: end;
  }
  .bot-message{
    align-self: flex-start;
    justify-content: start;
  }
